body{
    background-color: #FCF8F3;;
}

.warning-color{

    color: #FFFFFF;

}
.top-map{
    display: flex;
    width:calc(100% - 30px);
   
   
}
.service {
    display: flex;
    align-items: center;
    padding: 10px;
}
.service-icon {
    width: 50px;
}
.service-content {
    width: calc(100% - 50px);
    /* padding-left: 10px; */
}
.service-content p {
    margin: 0;
}
.services{
    text-align: center;
}
.product-image{
    position: relative;
    /* position:absolute; */
   
    /* display:flex; */
    /* padding:10px; */
}

.mb-25{
    margin-bottom: 25px;
    padding:20px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   .services p{
      text-align: center;
  }
  .button1{
      margin:10px;
    top: 50%;
    left: 50%;
     
  }
  
 
.furniture{
    text-align: center;
}
.funiro1{
    margin-bottom: 25px;
    padding:20px;
}
.centeredd {
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width:100%;
  }
  .centered1{
      padding:20px;
      position:absolute;
  }
  .carousel-item {


  }
  .tips-slider,.tips-slider img{
      padding: 10px;
      width:100%;
      object-fit: cover;
      object-position: center;
      height:100%;
  }
  .trick-slider{
    height:200px;
      width:100%;
      position: relative;
      padding: 15px;
  }
  .tips-slider{
      height:200px;
      width:100%;
     
      object-fit: cover;
      object-position: center;
  }
  .slider-image{
      height:200px;
     
     
      width:100%;

  }
    


  

